*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    padding-top: 0;
    margin: 10px auto;
    height: 1200px;
}

// Change colors for buttons

$primary:#5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";