*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    padding-top: 0;
    margin: 10px auto;
    height: 1200px;
}



// Change colors for buttons

$primary:#5265E1 ;
$secondary: #FA5959;

// Item links
$nav-link-hover-color: $secondary; 
$navbar-light-hover-color: $secondary;


//  Aplied in cards
$card-border-width: 0;

// Aplied in accordion
$accordion-button-icon: url("../img/icon-arrow.svg");






@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Aplied in nav-tab
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-bottom: 3px solid $secondary;
}